
@{
    ViewBag.Title = "index";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>广州力恒盛电子有限公司 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="stylesheet" href="~/styles/layout.css" type="text/css" />
    <link href="~/styles/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/styles/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="~/styles/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/JQGrid/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/JQGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/JQGrid/grid.locale-cn.js"></script>
    <script src="~/Scripts/layui/layui.all.js"></script>
</head>
<body>


    <div class="layui-row">
        <div class="layui-col-xs12">

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#specinfoTable").jqGrid({
                url: '',
                datatype: "json",
                mtype: 'GET',
                colNames: ['','内容','填写日期'],
                colModel: [
                { name: 'icon', index: 'icon', width: 30, align: "center", sortable: false, editable: false, formatter: alarmFormatter },
                { name: 'urgent', index: 'urgent', edittype:'select', editable: false, hidden: true, editoptions: { value: "0:普通;1:紧急"} },
                {
                    name: 'code', index: 'code', width: 180, edittype: 'select', editable: true,
                    editoptions: {
                        dataUrl: "Qcform/GenQCformCode"
                    },
                    cellattr:setCodeUrgentRed
                },
                { name: 'type', index: 'type', width: 50, edittype: "select", editable: false, editoptions: { value:"80:材料;82:杂项" },formatter:setBjfromType },
                { name: 'maker', index: 'make', width: 100, edittype: "select", editable: true, editoptions: { dataUrl: "Qcform/GetUsername" } },
                { name: 'buyer', index: 'buyer', width: 50, editable: true },
                { name: 'supplier', index: 'supplier', width: 180, editable: true },
                { name: 'qcmanager', index: 'qcmanager', width: 80, editable: false },
                { name: 'qcstaff', index: 'qcstaff', width: 80, editable: false },
                { name: 'status', index: 'status', width: 50, edittype: "select", editable: true, editoptions: { dataUrl: "Qcform/GetStatus" } },
                { name: 'makedate', index: 'makedate', width: 180, edittype: "select", editable: true, editoptions: { dataUrl: "Qcform/GetMakeDate" } }
                ],

                rowNum: 10,
                loadonce: true,
                pager: '#bjformtablePage',
                viewrecords: true,
                caption: "报检单列表",
                editurl: 'Qcform/EditDataFromStockinfo'
            });

        }

    </script>
</body>
</html>
