
@{
    ViewBag.Title = "广州力恒盛电子有限公司报检单";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
        <chunk red="255" green="0" blue="0">@ViewBag.Title</chunk>
    </paragraph>
    <p></p>
    <paragraph>
        <chunk style="font-family:Times;font-weight:bold;">单号: </chunk>
        <chunk style="font-family:Times;">@Model</chunk>
</paragraph>

    </body>
</html>
